### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [348]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

## Player Count

* Display the total number of players

In [166]:
purchase_data.duplicated(["SN"])
new_purchase = purchase_data.drop_duplicates(["SN"])
newer_purchase = new_purchase.iloc[:,1].count()
player_count = pd.DataFrame({"Total Players":[(newer_purchase)]})
player_count.head()

   Total Players
0            576

In [167]:
df_count.head()

0          Lisim78
1      Lisovynya38
2       Ithergue48
3    Chamassasya86
4        Iskosia90
Name: SN, dtype: object

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [168]:
item_count = purchase_data.iloc[:,4].drop_duplicates()
item_count_value = item_count.count()

In [169]:
avg_price = np.average(purchase_data.iloc[:,6])
avg_price_value='${:,.2f}'.format(avg_price)
avg_price_value

'$3.05'

In [170]:
purchase_count = purchase_data.iloc[:,0].count()
purchase_count_value = purchase_count
purchase_count_value

780

In [171]:
rev_count = purchase_data.iloc[:,6].sum()
rev_count_format ='${:,.2f}'.format(rev_count)
rev_count_value = rev_count_format
rev_count_value

'$2,379.77'

In [172]:
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[item_count_value],"Average Price":[avg_price_value],"Number of Purchases":[purchase_count_value],"Total Revenue":[rev_count_value]})
purchasing_analysis_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [318]:
unique = new_purchase.groupby(['Gender']).count()
unique2=unique.drop(columns=["Purchase ID","SN","Item ID","Age","Item Name"])
unique3=unique2.rename(columns={"Price":"Total Count"})
unique_formula = unique3["Total Count"]/unique3["Total Count"].sum()
unique3["Percentage of Players"] = unique_formula
unique3.to_string(formatters={"Percentage of Players":'{:,.2%}'.format})
unique3

                       Total Count  Percentage of Players
Gender
Female                          81                  $0.14
Male                           484                  $0.84
Other / Non-Disclosed           11                  $0.02


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [319]:
count_data = purchase_data.groupby(['Gender'])["Price"].count()
mean_data = purchase_data.groupby(['Gender'])["Price"].mean()
sum_data = purchase_data.groupby(['Gender'])["Price"].sum()
mean_per = sum_data/new_purchase.groupby(['Gender'])["Price"].count()

purchasing_df = pd.DataFrame({"Purchase Count":count_data,"Average Purchase Price":mean_data,"Total Purchase Value":sum_data,"Average Total Purchase Per Person":mean_per})
purchasing_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [332]:
bins = [0,9,14,19,24,29,34,39,100]
bin_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
new_purchase["Total Count"] = pd.cut(new_purchase["Age"], bins, labels = bin_labels)
bin_group = new_purchase.groupby("Total Count")
total_count_data =bin_group["Total Count"].count()
percentage_of_players = total_count_data/576

bin_df = pd.DataFrame({"Total Count":total_count_data,"Percentage of Players":percentage_of_players})
bin_df.head(20)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

             Total Count  Percentage of Players
Total Count
<10                   17                  $0.03
10-14                 22                  $0.04
15-19                107                  $0.19
20-24                258                  $0.45
25-29                 77                  $0.13
30-34                 52                  $0.09
35-39                 31                  $0.05
40+                   12                  $0.02

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [363]:
purchase_bins = [0,9,14,19,24,29,34,39,100]
purchase_bin_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], purchase_bins, labels = purchase_bin_labels)
purchase_bin_group = purchase_data.groupby("Age Range").count()
# purchase_bin_group.head()

count_data = purchase_data.groupby(['Age Range'])["Price"].count()
mean_data = purchase_data.groupby(['Age Range'])["Price"].mean()
sum_data = purchase_data.groupby(['Age Range'])["Price"].sum()
mean_per = sum_data/purchase_data.groupby(['Age Range'])["Price"].count()

purchasing_age_df = pd.DataFrame({"Purchase Count":count_data,"Average Purchase Price":mean_data,"Total Purchase Value":sum_data,"Average Total Purchase Per Person":mean_per})
purchasing_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Range,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [470]:
top_spender = purchase_data['SN'].value_counts(ascending=False)

avg_price_1 = purchase_data['Price'].mean()
tpv_1 = top_spender * avg_price1

top_spender_df = pd.DataFrame({"Purchase Count":top_spender,"Average Purchase Price":avg_price1,"Total Purchase Value": tpv_1})
# "Average Purchase Price":avg_price1,"Total Purchase Value": tpv_1
top_spender_df.head()

NameError: name 'avg_price1' is not defined

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [469]:
most_popular = purchase_data.set_index(['Item ID','Item Name'])
item_purchase = purchase_data.groupby(['Item Name'])

new_count = purchase_data["Item Name"].value_counts(ascending=False)
popular_item_price = 0
popular_total_purchase_value = new_count * popular_item_price
    

most_popular_df = pd.DataFrame({"Purchase Count":new_count,"Item Price": popular_item_price,"Total Purchase Value":popular_total_purchase_value})

most_popular_df.head()

,Purchase Count,Item Price,Total Purchase Value
Final Critic,13,0,0
"Oathbreaker, Last Hope of the Breaking Storm",12,0,0
"Extraction, Quickblade Of Trembling Hands",9,0,0
Persuasion,9,0,0
Fiery Glass Crusader,9,0,0

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [458]:
most_popular_df.sort_values(by="Total Purchase Value", ascending=False)

,Purchase Count,Item Price,Total Purchase Value
Final Critic,13,0,0
"Downfall, Scalpel Of The Emperor",3,0,0
Bone Crushing Silver Skewer,4,0,0
Shadowsteel,4,0,0
Solitude's Reaver,4,0,0
"Storm-Weaver, Slayer of Inception",4,0,0
Severance,3,0,0
"Stormbringer, Dark Blade of Ending Misery",3,0,0
Piece Maker,3,0,0
"Hellreaver, Heirloom of Inception",3,0,0
Arcane Gem,3,0,0
Stormfury Lantern,3,0,0
Woeful Adamantite Claymore,3,0,0
Alpha,3,0,0
Crying Steel Sickle,3,0,0
Toothpick,3,0,0
Dragon's Greatsword,3,0,0
"Swan Song, Gouger Of Terror",3,0,0
Orbit,3,0,0
"Blazefury, Protector of Delusions",3,0,0
Singed Onyx Warscythe,3,0,0
Hailstorm Shadowsteel Scythe,4,0,0
Glinting Glass Edge,4,0,0
Splinter,4,0,0
Putrid Fan,4,0,0
Renewed Skeletal Katana,4,0,0
"Expiration, Warscythe Of Lost Worlds",4,0,0
Massacre,4,0,0
"Piety, Guardian of Riddles",4,0,0
"Despair, Favor of Due Diligence",4,0,0
...,...,...,...
Mercenary Sabre,4,0,0
Feral Katana,4,0,0
"The Void, Vengeance of Dark Magic",4,0,0
"Lazarus, Terror of the Earth",4,0,0
Hatred,4,0,0
Twilight's Carver,4,0,0
Hope's End,4,0,0
War-Forged Gold Deflector,5,0,0
Bloodlord's Fetish,5,0,0
Dreamsong,5,0,0
"Tranquility, Razor of Black Magic",5,0,0
Striker,5,0,0
Ritual Mace,5,0,0
Hopeless Ebon Dualblade,5,0,0
Orenmir,5,0,0
"Aetherius, Boon of the Blessed",5,0,0
"Deadline, Voice Of Subtlety",5,0,0
"Chaos, Ender of the End",5,0,0
Heartless Bone Dualblade,5,0,0
"Emberling, Defender of Delusions",5,0,0
Souleater,5,0,0
"Mercy, Katana of Dismay",5,0,0
Reaper's Toll,5,0,0
Blindscythe,5,0,0
Abyssal Shard,5,0,0
"Blazeguard, Reach of Eternity",5,0,0
Faith's Scimitar,5,0,0
Soul-Forged Steel Shortsword,5,0,0
"Deluge, Edge of the West",5,0,0
Celeste,1,0,0