### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
purchase_data.duplicated(["SN"])
new_purchase = purchase_data.drop_duplicates(["SN"])
newer_purchase = new_purchase.iloc[:,1].count()
player_count = pd.DataFrame({"Total Players":[(newer_purchase)]})
player_count.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
item_count = purchase_data.iloc[:,4].drop_duplicates()
item_count_value = item_count.count()

In [5]:
avg_price = np.average(purchase_data.iloc[:,6])
avg_price_value='${:,.2f}'.format(avg_price)
avg_price_value

'$3.05'

In [6]:
purchase_count = purchase_data.iloc[:,0].count()
purchase_count_value = purchase_count
purchase_count_value

780

In [7]:
rev_count = purchase_data.iloc[:,6].sum()
rev_count_format ='${:,.2f}'.format(rev_count)
rev_count_value = rev_count_format
rev_count_value

'$2,379.77'

In [8]:
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[item_count_value],"Average Price":[avg_price_value],"Number of Purchases":[purchase_count_value],"Total Revenue":[rev_count_value]})
purchasing_analysis_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
unique = new_purchase.groupby(['Gender']).count()
unique2=unique.drop(columns=["Purchase ID","SN","Item ID","Age","Item Name"])
unique3=unique2.rename(columns={"Price":"Total Count"})
unique_formula = unique3["Total Count"]/unique3["Total Count"].sum()
unique3["Percentage of Players"] = unique_formula
unique3.to_string(formatters={"Percentage of Players":'{:,.2%}'.format})
unique3

                       Total Count  Percentage of Players
Gender
Female                          81               0.140625
Male                           484               0.840278
Other / Non-Disclosed           11               0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
count_data = purchase_data.groupby(['Gender'])["Price"].count()
mean_data = purchase_data.groupby(['Gender'])["Price"].mean()
sum_data = purchase_data.groupby(['Gender'])["Price"].sum()
mean_per = sum_data/new_purchase.groupby(['Gender'])["Price"].count()

purchasing_df = pd.DataFrame({"Purchase Count":count_data,"Average Purchase Price":mean_data,"Total Purchase Value":sum_data,"Average Total Purchase Per Person":mean_per})
purchasing_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [11]:
bins = [0,9,14,19,24,29,34,39,100]
bin_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
new_purchase["Total Count"] = pd.cut(new_purchase["Age"], bins, labels = bin_labels)
bin_group = new_purchase.groupby("Total Count")
total_count_data =bin_group["Total Count"].count()
percentage_of_players = total_count_data/576

bin_df = pd.DataFrame({"Total Count":total_count_data,"Percentage of Players":percentage_of_players})
bin_df.head(20)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

             Total Count  Percentage of Players
Total Count
<10                   17               0.029514
10-14                 22               0.038194
15-19                107               0.185764
20-24                258               0.447917
25-29                 77               0.133681
30-34                 52               0.090278
35-39                 31               0.053819
40+                   12               0.020833

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
purchase_bins = [0,9,14,19,24,29,34,39,100]
purchase_bin_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], purchase_bins, labels = purchase_bin_labels)
purchase_bin_group = purchase_data.groupby("Age Range").count()
# purchase_bin_group.head()

count_data = purchase_data.groupby(['Age Range'])["Price"].count()
mean_data = purchase_data.groupby(['Age Range'])["Price"].mean()
sum_data = purchase_data.groupby(['Age Range'])["Price"].sum()
mean_per = sum_data/purchase_data.groupby(['Age Range'])["Price"].count()

purchasing_age_df = pd.DataFrame({"Purchase Count":count_data,"Average Purchase Price":mean_data,"Total Purchase Value":sum_data,"Average Total Purchase Per Person":mean_per})
purchasing_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Range,,,,
<10,23,3.353478,77.13,3.353478
10-14,28,2.956429,82.78,2.956429
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
top_spender_group = purchase_data.groupby("SN")
top_spender = purchase_data['SN'].value_counts()
sum_spender = top_spender_group['Price'].sum()
avg_price_1 = top_spender_group['Price'].mean()
sorter = top_spender.sort_index()

top_spender_df = pd.DataFrame({"Purchase Count":sorter,"Average Purchase Price":avg_price_1,"Total Purchase Value": sum_spender})
top_spender_df = top_spender_df.sort_values(by=["Total Purchase Value"], ascending = False)
top_spender_df["Average Purchase Price"] = top_spender_df["Average Purchase Price"].map('${:,.2f}'.format)
top_spender_df["Total Purchase Value"] = top_spender_df["Total Purchase Value"].map('${:,.2f}'.format)
top_spender_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [39]:
most_popular = purchase_data.groupby(['Item ID','Item Name'])


new_count = most_popular["Price"].count()
popular_item_price = most_popular["Price"].mean()
popular_total_purchase_value = most_popular["Price"].sum()
    

most_popular_df = pd.DataFrame({"Purchase Count":new_count,"Item Price": popular_item_price,"Total Purchase Value":popular_total_purchase_value})
most_popular_df = most_popular_df.sort_values(["Purchase Count"],ascending=False)
most_popular_df["Item Price"] = most_popular_df["Item Price"].map("${:.2f}".format)
most_popular_df["Total Purchase Value"] = most_popular_df["Total Purchase Value"].map("${:.2f}".format)
most_popular_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [38]:
most_profitable = purchase_data.groupby(['Item ID','Item Name'])


profit_new_count = most_profitable["Price"].count()
profit_item_price = most_profitable["Price"].mean()
profit_total_purchase_value = most_profitable["Price"].sum()
    

most_profitable_df = pd.DataFrame({"Purchase Count":profit_new_count,"Item Price": profit_item_price,"Total Purchase Value":profit_total_purchase_value})
most_profitable_df = most_profitable_df.sort_values(["Total Purchase Value"],ascending=False)
most_profitable_df["Item Price"] = most_profitable_df["Item Price"].map("${:.2f}".format)
most_profitable_df["Total Purchase Value"] = most_profitable_df["Total Purchase Value"].map("${:.2f}".format)
most_profitable_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80